<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Investment Calculator</title>
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="./main.css"/>
</head>
<body>
  <div class="container">
    <div class="row minH justify-content-center py-5">
        <div class="col-12" >
            <div id="app" class="py-5 px-3 text-center" v-bind:class="{ 'eligable': (finished && eligable), 'not-eligable': (finished && !eligable)}">
              <div class="row justify-content-center">
                <div class="col-8">
                  <!-- Step 1 -->
                  <transition name="fade">
                    <div v-if="currentStep === 1">
                      <h2>Your merchant cash advance is waiting.</h2>
                      <div class="row mt-5 justify-content-around">
                        <input class="col-6 bold" type="number" placeholder="Amount seeking" v-model="answers.seeking">
                        <button class="col-4  btn-yellow" v-on:click="isValid">SEE YOUR OPTIONS</button>
                      </div>
                    </div>
                  </transition>
                  <!-- End Step 1 -->

                  <!-- Step 2 -->
                  <transition name="fade">
                    <div v-if="currentStep === 2">
                      <h2>How's your credit score?</h2>
                      <div class="row mt-5">
                          <div class="col-4 p-2 pointer" v-on:click="credit(score.score)" v-for="(score, index) in creditScore" :key="index">
                            <div class="selector-box d-flex align-items-center justify-content-center p-3">{{score.desc}}</div>
                          </div>
                      </div>
                      <div class="row justify-content-between mt-5 align-items-center">
                        <p class="bold pointer mb-0 light-grey" v-on:click="goBack">< Go Back</p>
                      </div>
                    </div>
                  </transition>
                  <!-- End Step 2 -->

                  <!-- Step 3 -->
                  <transition name="fade" >
                      <div v-if="currentStep === 3">
                          <h2>When did you start your business?</h2>
                          <div class="row justify-content-center mt-5">
                              <div class="dropdown col-5 row pr-3">
                                <button v-bind:class="{ 'yellow-bg': (answers.date.month !== 'Choose a month')}" v-html="answers.date.month" class="btn-empty dropdown-toggle col-12" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  {{answers.date.month}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <div v-for="(month, index) in months" :key="index" class="dropdown-item" v-on:click="selectMonth(month)">{{month}}</div>
                                </div>
                              </div>

                              <div class="col-4 pl-3">
                                <input v-bind:class="{ 'yellow-bg': (answers.date.year !== '')}" v-model="answers.date.year" type="text" placeholder="Year">
                              </div>
                          </div>
                          <p class="yellow bold mt-3 pointer" v-on:click="notStarted">I haven't started yet</p>
                          

                          <div class="row justify-content-between mt-5 align-items-center">
                            <p class="bold pointer mb-0 light-grey" v-on:click="goBack">< Go Back</p>
                            <button class="btn-yellow" v-on:click="isValid">Next</button></Back>
                          </div>
                      </div>
                    </transition>
                  <!-- End Step 3 -->

                  <!-- Step 4 -->
                  <transition name="fade">
                    <div v-if="currentStep === 4">
                      <h2>What's your monthly revenue?</h2>
                      <div class="row mt-5">
                          <div class="col-4 p-2 pointer" v-on:click="revenue(rev.score)" v-for="(rev, index) in revenueData" :key="index">
                            <div class="selector-box d-flex align-items-center justify-content-center p-3">{{rev.desc}}</div>
                          </div>
                      </div>

                      <div class="row justify-content-between mt-5 align-items-center">
                        <p class="bold pointer mb-0 light-grey" v-on:click="goBack">< Go Back</p>
                      </div>
                    </div>
                  </transition>
                  <!-- End Step 4 -->

                    <!-- Step 5 -->
                    <transition name="fade" >
                      <div v-if="currentStep === 5">
                          <h2>Which best describes your business?</h2>
                          <div class="row justify-content-center mt-5">
                              <div class="dropdown col-10 row pr-3">
                                <button v-bind:class="{ 'yellow-bg': (answers.industry !== 'Choose an industry')}" class="btn-empty dropdown-toggle col-12" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  {{answers.industry}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <div v-for="(ind, index) in industryData" :key="index" class="dropdown-item" v-on:click="industry(ind)">{{ind}}</div>
                                </div>
                              </div>
                          </div>

                          <div class="row justify-content-between mt-5 align-items-center">
                            <p class="bold pointer mb-0 light-grey" v-on:click="goBack">< Go Back</p>
                            <button class="btn-yellow" v-on:click="isValid">Next</button></Back>
                          </div>
                      </div>
                    </transition>
                  <!-- End Step 5 -->

                  <!-- Step 6 -->
                  <transition name="fade">
                    <div v-if="currentStep === 6">
                      <h2>Let's learn a little about your business?</h2>
                      <h4 class="mt-4">Select all that apply</h4>
                      <div class="row justify-content-center'">
                          <div class="col-4 p-2 pointer"  v-on:click="selectAbout(ab)" v-for="(ab, index) in aboutData" :key="index">
                            <div v-bind:class="{ 'yellow-bg': (answers.about.indexOf(ab) !== -1)}" class="selector-box d-flex align-items-center justify-content-center p-3">{{ab}}</div>
                          </div>
                      </div>

                      <div class="row justify-content-between mt-5 align-items-center">
                        <p class="bold pointer mb-0 light-grey" v-on:click="goBack">< Go Back</p>
                        <button class="btn-yellow" v-on:click="isValid">Next</button></Back>
                      </div>
                    </div>
                  </transition>
                  <!-- End Step 6 -->

                  <!-- Step 7 -->
                  <transition name="fade" >
                      <div v-if="currentStep === 7">
                          <h2>Which state is your business in?</h2>
                          <div class="row justify-content-center mt-5">
                              <div class="dropdown col-10 row pr-3">
                                <button v-bind:class="{ 'yellow-bg': (answers.state !== 'Choose a state')}" class="btn-empty dropdown-toggle col-12" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  {{answers.state}}
                                </button>
                                <div class="dropdown-menu scrollable-menu" boundary="window" aria-labelledby="dropdownMenuButton">
                                  <div v-for="(state, index) in stateData" :key="index" class="dropdown-item" v-on:click="selectState(state)">{{state}}</div>
                                </div>
                              </div>
                          </div>

                          <div class="row justify-content-between mt-5 align-items-center">
                            <p class="bold pointer mb-0 light-grey" v-on:click="goBack">< Go Back</p>
                            <button class="btn-yellow" v-on:click="isValid">Next</button></Back>
                          </div>
                      </div>
                    </transition>
                  <!-- End Step 7 -->

                  <!-- Step 8 -->
                  <transition name="fade">
                    <div v-if="currentStep === 8">
                      <h2>What purpose would your loan serve?</h2>
                      <h4 class="mt-4">Select all that apply</h4>
                      <div class="row justify-content-center'">
                          <div class="col-4 p-2 pointer" v-on:click="selectPurpose(pur)" v-for="(pur, index) in purposeData" :key="index">
                            <div v-bind:class="{ 'yellow-bg': (answers.purpose.indexOf(pur) !== -1)}" class="selector-box d-flex align-items-center justify-content-center p-3">{{pur}}</div>
                          </div>
                      </div>

                      <div class="row justify-content-between mt-5 align-items-center">
                        <p class="bold pointer mb-0 light-grey" v-on:click="goBack">< Go Back</p>
                        <button class="btn-yellow" v-on:click="isValid">Next</button></Back>
                      </div>
                    </div>
                  </transition>
                  <!-- End Step 8 -->

                  <!-- Step 9 -->
                  <transition name="fade">
                    <div v-if="currentStep === 9">
                      <h2>What type of entity is your business?</h2>
                      <div class="row justify-content-center  mt-5">
                          <div class="col-4 p-2 pointer" v-on:click="selectType(type)" v-for="(type, index) in typeBusiness" :key="index">
                            <div class="selector-box d-flex align-items-center justify-content-center p-3">{{type}}</div>
                          </div>
                      </div>

                      <div class="row justify-content-between mt-5 align-items-center">
                        <p class="bold pointer mb-0 light-grey" v-on:click="goBack">< Go Back</p>
                      </div>
                    </div>
                  </transition>
                  <!-- End Step 9 -->

                  <!-- Step 10 -->
                  <transition name="fade">
                    <div v-if="currentStep === 10">
                      <h2>Do you have any current cash advance balances?</h2>
                      <div class="row justify-content-center  mt-5">
                          <div class="col-4 p-2 pointer" v-on:click="currentAdvance(balance)" v-for="(balance, index) in curBal" :key="index">
                            <div class="selector-box d-flex align-items-center justify-content-center p-3">{{balance}}</div>
                          </div>
                      </div>
                    <div v-if="enterAmount" class=" d-flex flex-column align-items-center">
                      <h5 class="mt-4">If yes, how many?</h5>
                      <div class="col-4 pl-3">
                        <input v-bind:class="{ 'yellow-bg': (answers.currentAdvance.amount !== 0)}" v-model="answers.currentAdvance.amount" type="number" placeholder="Amount">
                      </div>
                    </div>
                      <div class="row justify-content-between mt-5 align-items-center">
                        <p class="bold pointer mb-0 light-grey" v-on:click="goBack">< Go Back</p>
                        <button class="btn-yellow" v-on:click="isValid">Next</button></Back>
                      </div>
                    </div>
                  </transition>
                  <!-- End Step 10 -->

                  <!-- Step 11 -->
                  <transition name="fade">
                    <div v-if="currentStep === 11" class="text-left">
                      <h2>Owner Information</h2>
                      <h5 class="mt-4">Name</h5>
                      <div class="container">
                        <div class="row">
                            <input class="text-left col-8" v-bind:class="{ 'yellow-bg': (answers.information.name !== '')}" v-model="answers.information.name" type="text" placeholder="Your Name">
                        </div>
                      </div>
                      
                      <h5 class="mt-4">E-Mail</h5>
                      <div class="container">
                        <div class="row">
                            <input class="text-left col-8" v-bind:class="{ 'yellow-bg': (answers.information.mail !== '')}" v-model="answers.information.mail" type="email" placeholder="Your E-mail">
                        </div>
                      </div>

                      <h5 class="mt-4">Phone Number</h5>
                      <div class="container">
                        <div class="row">
                            <input class="text-left col-8" v-bind:class="{ 'yellow-bg': (answers.information.phone !== '')}" v-model="answers.information.phone" type="text" placeholder="Enter your phone number here">
                        </div>
                      </div>
                      <h5 class="mt-4">Owner Address</h5>
                      <div class="container">
                        <div class="row">
                            <input class="text-left col-8" v-bind:class="{ 'yellow-bg': (answers.information.address !== '')}" v-model="answers.information.address" type="text" placeholder="Enter your address here">
                        </div>

                        <div class="row mt-3">
                            <input class="text-left col-8" v-bind:class="{ 'yellow-bg': (answers.information.city !== '')}" v-model="answers.information.city" type="text" placeholder="City">
                        </div>

                        <div class="row mt-3">
                            <input class="text-left col-8" v-bind:class="{ 'yellow-bg': (answers.information.zip !== '')}" v-model="answers.information.zip" type="text" placeholder="ZIP Code">
                        </div>
                      </div>
                      
                      <div class="row justify-content-between mt-5 align-items-center">
                        <p class="bold pointer mb-0 light-grey" v-on:click="goBack">< Go Back</p>
                        <button class="btn-yellow" v-on:click="isValid">Next</button></Back>
                      </div>
                    </div>
                  </transition>
                  <!-- End Step 11 -->

                  <!-- Step 12 -->
                  <transition name="fade">
                    <div v-if="currentStep === 12">
                      <h2>You are pre-approved for</h2>
                      <h2>${{eligableAmount}}</h2>
                      <button class="btn-empty">GET YOUR RATE</button>
                    </div>
                  </transition>
                  <!-- End Step 12 -->
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.8.1/firebase.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="./main.js"></script>

  </body>
</html>